<div>
    <div>
        <h2>Popular</h2>
        <div>
            <img src="{{ asset('images/proba.jpg') }}"/>
            <h2>Some Text</h2>
            <p>12 Nov, 2012</p>
        </div>
        <div>
            <img src="">
            <h2>Some Text</h2>
            <p>12 Nov, 2012</p>
        </div>
        <div>
            <img src="">
            <h2>Some Text</h2>
            <p>12 Nov, 2012</p>
        </div>
    </div>
    <div>
        <h2>Search</h2>
        <input type="text">
    </div>
    <div>
        <h2>A little about me</h2>
        <p>Some text</p>
    </div>
    <div>
        <h2>Categories</h2>
        <a href="">photography</a>
        <a href="">food</a>
        <a href="">salad</a>
        <a href="">spicy</a>
        <a href="">wine</a>
    </div>
</div>