<div>
    <ul>
        <li><a href="">Categories</a></li>
        <li><a href="">Freebies</a></li>
        <li><a href="">Services</a>
            <ul>
                <li><a href="">Single item</a></li>
                <li><a href="">Single item</a></li>
                <li><a href="">Single item</a></li>
                <li><a href="">Single item</a></li>
                <li><a href="">Single item</a></li>
            </ul>
        </li>
        <li><a href="">Gallery</a>
        <li><a href="">About us</a>
        <li><a href="">Privacy policy</a>
        <li><a href="">Contact us</a>
    </ul>
</div>